#app {
  font-family: var(--font-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0px 24px;
}

.heading1 {
  font-family: var(--font-bold);
}

.component-list {
  padding: 0 0 0 12px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  // For mobile devices
  @media (max-width: 480px) {
    align-items: start;
  }
}